.label-stacked.sc-ion-label-ios-h, .label-stacked.sc-ion-label-md-h {
  margin-bottom: 7px;
}

.label-stacked.sc-ion-label-md-h {
  font-size: 22px;

}

.label-stacked.sc-ion-label-ios-h {
  font-size: 16px;
}

.accordion-collapsed {
  width: 100%;
  margin-bottom: 20px;
}

ion-accordion {
  margin: 0 0 10px 0;
}

ion-text {
  font-size: 17px;
  margin: 10px 15px;
}


